/**
 * Special CSS styling that overwrites imported Libraries' styles 
 * 
 * @author RGatin
 * @since 11-Apr-2018
 * 
 */
@CHARSET "ISO-8859-1";

/*
---------------------------------------------------
    Parsley error style
---------------------------------------------------
*/
.parsley-errors-list {
	padding-left: 1.7em;
	color: red;
	text-align: left;
	font-size: 13px;
}


/*
---------------------------------------------------
    Bootstrap Primary colors
---------------------------------------------------
*/

.text-primary {
	color: #073974 !important;
}

.btn-primary {
    background-color: #073974;
    border-color: #073974;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #06264c;
    border-color: #06264c;
}

.btn-light,
.btn-light,
.btn-light:hover,
.btn-light:active,
.btn-light:visited,
.btn-light:focus {
    color: #212529;
    background-color: #dedede !important;
    border-color: #dedede !important;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
    background-color: #9c9c9c !important;
    border-color: #9c9c9c !important;
}

.bg-secondary {
    background-color: #9c9c9c !important;
}

.border-secondary {
    border-color: #9c9c9c !important;
}


.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
    background-color: #8Fc23f !important;
    border-color: #8Fc23f !important;
}

.bg-success {
    background-color: #8Fc23f !important;
}

.border-success {
    border-color: #8Fc23f !important;
}

.text-success {
    color: #8Fc23f !important;
}


/*
---------------------------------------------------
	Bootstrap Modal alerts
---------------------------------------------------
*/
.modal-content, 
.modal-header {
	background-color: transparent;
	border: none;
}

.modal-content {
}

.modal-header {
	
}

.modal-body {
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 0.5rem;
}

.close {
	opacity: unset;
}

/*
---------------------------------------------------
	Bootstrap Breadcrumbs
---------------------------------------------------
*/

.breadcrumb {
	padding: 0;
	margin: 0;
	background-color: transparent;
	font-weight: 600;
    font-size: 14px;
}

a.breadcrumb-item {
	color: #073974 !important;
    text-decoration: none;
}

/*
---------------------------------------------------
	Bootstrap Pagination
---------------------------------------------------
*/

ul.pagination a.page-link {
	color: #073974;
}

ul.pagination li.page-item.active a.page-link {
	background-color: #073974;
	border-color: #073974;
	cursor: default;
}

ul.pagination li.page-item.disabled a.page-link {
	color: #d4d4d4;
}
